body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.faq-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.faq-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  /* background-color: #666; */
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-weight: bold;
  display: block;
  cursor: pointer;
  padding: 10px 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  color: #666;
  padding-left: 10px;
}

.faq-toggle {
  display: none;
}

.faq-toggle:checked ~ .faq-answer {
  max-height: 200px;
}
