/* page 1 responsivness */

@media screen and (max-width: 600px) {
  .containar {
    padding: 2% 5%;
  }

  nav>.links>img {
    height: 50px;
  }

  nav>.links>a {
    display: none;
  }

  nav>.goto {
    display: none;
  }

  .menu {
    display: initial;
  }

  .content>h1 {
    font-size: 40px;

  }

  .content>p {
    font-size: 20px;
  }

  .content>button {
    visibility: hidden;
  }

  .socialmedia {
    display: flex;
    flex-direction: row;
  }


  .socialmedia>i {
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
    height: 30px;
    width: 30px;
    /* margin-right: 2px; */
    margin-left: 50px;

  }

  .footer>h1 {
    font-size: 20px;
    margin-bottom: 20%;
  }

}

/*  page 2 responsivness */

@media screen and (max-width: 600px) {
  .page2_heading h1 {
    padding: 40px;
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-align: center;
  }

  .page2_content>div>img {
    background-size: cover;
    /* width: 550px; */
    height: 30vh;
  }

  .page2_content>div>p {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
  }
}