  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body {
    font-family: monserrat;
  }


  .containar {
    /* padding: 0 10%; */
    height: 100%;
    width: 100%;
    background-image: url(alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monserrat;

  }

  .overlay {
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }

  nav {
    /* background-color: rgb(31, 68, 68); */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    /* color: white; */
    /* margin-top: 10%; */

  }



  nav>.links {
    display: flex;
    align-items: center;
    gap: 30px;

  }

  nav>.links>img {
    margin-right: 10%;
    /* background-color: bisque; */
    height: 100px;
    /* color: white; */
  }

  nav>.links>a {
    /* background-color: antiquewhite; */
    text-decoration: none;
    color: black;
    margin: 2%;
    font-weight: 600;
    font-size: 20px;
    /* text-shadow: 1px 1px 2px black; */

  }



  .goto>button {
    padding: 10px 30px;
    margin-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(49, 87, 74);
    color: white;
  }

  .goto>a {
    text-decoration: none;
    color: rgb(2, 5, 7);
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
  }

  .menu {
    font-size: 20px;
    display: none;
  }

  .content {
    margin-left: 12%;
    color: white;


  }


  .content>h1 {
    font-size: 100px;
  }

  .content>p {
    font-size: 40px;

  }

  .content>button {
    padding: 18px;
    text-align: center;
    margin-left: 25%;
    margin-top: 20px;
    background-color: rgb(49, 87, 74);
    color: white;
    font-size: 15px;
    border: 5px;

  }

  .socialmedia {

    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 300px;
    /* background-color: antiquewhite; */

  }



  .socialmedia>i {

    font-size: 50px;
    text-shadow: 1px 1px 3px black;
    background-color: rgb(49, 87, 74);
    border-radius: 50%;
    color: white;
    padding: 14px;
  }


  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    color: white;
  }

  /* page2 */

  .page2 {
    height: 80vh;
    /* width: 100%; */
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5%;
    /* background-image: url(alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg); */
    background-size: cover;
    background-position: center;
    /* background-color: white; */
    background-repeat: no-repeat;
    /* background-color: aqua; */


  }

  .page2_heading h1 {


    font-size: 60px;
    font-weight: 900;
    color: black;

  }

  .page2_content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }


  /* .page2_heading>h1 {
    font-weight: 900;
    color: white;
    /* background-color: antiquewhite; */


  .page2_content>div>img {
    background-size: cover;

    /* width: 550px; */
    height: 50vh;
  }

  .page2_content>div>p {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: black;
  }

  .page3 {
    height: 80vh;
    width: 100%;
    /* background-color: rgb(249, 154, 29); */
    display: flex;
    gap: 3%;
    position: relative;


  }


  .img_container>img {
    background-color: antiquewhite;
    height: 50vh;
    margin: 20% 20% 0 50%;
  }

  .page3_content {
    margin: 5% 0 2% 10%;
    /* background-color: antiquewhite; */
  }

  .page3_content h1 {
    /* background-color: antiquewhite; */
    font-size: 500%;
    margin-bottom: 20px;
  }

  .page3_content>p {
    /* background-color: antiquewhite; */
    font-size: 30px;
    font-weight: 100;
  }

  .paradiv {
    min-height: 400px;
    padding: 3% 50px 10px 3%;
    border: 10px solid rgb(49, 87, 74);
    position: absolute;
    top: 25%;
    font-size: 30px;
    font-weight: 600;
    z-index: 999;
    left: 28%;
    margin-left: 6%;
    margin-top: 2%;

  }

  .paradiv p {
    /* background-color: aqua; */
    margin-bottom: 3%;
  }

  .page4 {
    height: 60vh;
    display: flex;
    justify-content: center;
    /* background-color: antiquewhite; */

  }

  .page4_content {
    margin-left: 9%;
  }

  .page4_content>h1 {
    font-size: 60px;
  }

  .page4_content>p {
    font-size: 30px;
  }

  .page4_content>button {
    background-color: rgb(49, 87, 74);
    ;
    color: white;
    padding: 15px 25px;
    font-size: 25px;
    margin-top: 3%;
    border: none;
  }

  .page4_imgs {
    margin-left: 6%;
    display: flex;
    flex-direction: row;
  }


  .page4_imgs img {
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin: 0 1%;
    flex-wrap: nowrap;
    /* padding: 1%; */
  }

  .page5 {
    height: 50%;
    /* padding: 10%; */
    /* background-color: antiquewhite; */

  }

  .page5>h1 {
    font-size: 60px;
    margin: 0 0 1% 12%;
  }

  .page5_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    /* background-color: antiquewhite; */
  }

  .page5_content>i {
    font-size: 50px;
    color: rgb(230, 224, 224);
    background-color: rgb(49, 87, 74);
    border-radius: 50%;
    margin-right: 2%;
  }

  .page5_content>img {
    background-position: center;
    height: 30vh;
  }



  .page5_section {
    margin: 0 2% 8% 1%;
  }


  .page5_section>h1 {
    font-size: 40px;
  }

  .page5_section>h4 {
    margin: 5% 0 5% 0;
    color: rgb(107, 101, 101);
    font-size: 20px;
  }

  .page5_section>p {
    line-height: 25px;
    font-weight: 600;
    font-size: 20px;
  }

  .page6 {
    height: 40%;
    background-color: rgb(49, 87, 74);
    display: flex;
    color: white;
    justify-content: space-between;
    /* gap: 20%; */
    align-items: center;
    position: relative;

  }

  .footer_logo>img {
    height: 150px;
    position: absolute;
    top: 15%;
    left: 10%;
    
  }

  .footer_section2>h3{
    line-height: 40px;
    font-size: 30px;
    margin-left: 80%;
  }

  .footer_section3 {
    line-height: 70px;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
  }

  .footer_section3>div>a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    width: 100px;
   
  }

  .footer_socialmedia>i {
    font-size: 50px;
  }

  .footer_section4>h1{
    position: absolute;
    top:65%;
    left: 10%;
  }